@model ModelFirst.Models.Kontakty

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Model.Imie @*Wyświetlenie imienia*@
</br>       @*Wyświetlenie przerwy*@
@Model.Nazwisko @*Wyświetlenie nazwiska (pobranego wcześniej kontaktu w HomeControlerze)*@

